@import 'libs/bootstrap-reboot.min';

* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@import 'base/variables';

.container {
    width: 1170px;
    margin: 0 auto;
}

@import 'blocks/logo';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/why';
@import 'blocks/offers';