.offers {
    padding: 100px 0 132px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    &__item {
        position: relative;
        width: 370px;
        min-height: 450px;
        box-sizing: border-box;
        border: 1px solid #E7E6EB;
        border-radius: 12px;
        background: $color-white;
        padding: 10px;
        cursor: pointer;

        &-left {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        &-right {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        &-title {
            color: $color-text;
            font-size: 22px;
            font-weight: 500;
            line-height: 27px;
            margin-top: 25px;
        }

        &-subtitle {
            color: #858585;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
        }

        &-date {
            color: $color-text;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin: 5px 0 15px 0;
        }

        &-price {
            color: $color-accent;
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            margin-bottom: 16px;

            span {
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
            }
        }

        &-info {
            display: flex;
            justify-content: space-between;
        }

        &-details {
            display: flex;
            gap: 10px;
            color: #858585;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;


            img {
                width: 24px;
            }
        }
    }
}